@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.UserList {
  // background-color: gold;

  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 0 30px;

  margin-bottom: 50px;

  &-Title {
    display: flex;
    flex-direction: column;
  }

  &-List {
    width: 100%;
    height: 300px;
    overflow: scroll;
    display: block;
    margin-top: 20px;

    border: 1px solid black;
  }
  @include atMedium {
    margin-bottom: 0;
  }
}
