@import "../../styles/base/responsiveMixin.scss";
.MainPage {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: block;

  &-container {
    width: 100%;
    // background: orange;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-evenly;
  }
  @include atSmall {
    width: 100%;

    &-container {
      flex-direction: column;
      align-items: center;
    }
  }

  @include atMedium {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: gold;

    &-container {
      align-items: stretch;
      flex-direction: row;
    }
  }
}
