@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.Winner {
  width: 200px;
  height: 200px;
  // background-color: red;

  margin: 20px auto;

  display: flex;
  flex-direction: column;

  justify-content: center;

  border: 1px solid black;
  text-align: center;

  &-detail {
    // background-color: gold;
  }

  @include atSmall {
  }
}
